#root {
    font-family: monospace;
}

body {
    background: #aaaaaa;
}

button {
    color: black;
    background: #dddddd;
    border-color: black;
    border-radius: 10px;
    font-size: 20px;
}

.centerAlign {
    text-align: center;
}
