.card-title {
    position: relative;
    width: 100%;
    line-height: 20px;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 15px;
    padding-top: 5px;
    letter-spacing: 1px;
}

.card-title.card-title-long {
    letter-spacing: 0;
}
