.card-state-symbol-row {
    position: relative;
    width: 100%;
    height: 30px;
    font-size: 10px;
    overflow: hidden;
    margin-top: 5px;
    justify-content: space-between;
    padding-top: 0;
    /*letter-spacing: 1px;*/
}

.card-state-symbol-left {
    position: absolute;
    left: 0;
    background-size: 35px 30px;
    width: 35px;
    height: 30px;
}

.card-state-symbol-right {
    position: absolute;
    right: 0;
    background-size: 35px 30px;
    width: 35px;
    height: 30px;
    scale: -1 1;
}

.card-state-symbol-as-barbarian {
    background-image: url("../images/state_symbol/barbarian.png");
}

.card-state-symbol-as-empire {
    background-image: url("../images/state_symbol/empire.png");
}

.card-state-symbol-as-isle-bound {
    background-image: url("../images/state_symbol/isle_bound.png");
}

.card-state-symbol-as-voyaging {
    background-image: url("../images/state_symbol/voyaging.png");
}

.card-state-symbol-as-corrupted {
    background-image: url("../images/state_symbol/corrupted.png");
}

.card-state-symbol-as-summoned {
    background-image: url("../images/state_symbol/summoned.png");
}
