.card-triangle-location {
    position: absolute;
    bottom: 8px;
    left: 8px;
    width: 15px;
    height: 15px;
    background-size: 15px 15px;
}

.card-inline-square-location {
    position: absolute;
    width: 1em;
    height: 1em;
    background-size: 1em 1em;
}

.card-location-in-play.card-location-black {
    background-image: url("/starting_location/InPlay.svg");
}

.card-location-nation.card-location-black {
    background-image: url("/starting_location/Nation.svg");
}

.card-location-accession.card-location-black {
    background-image: url("/starting_location/Accession.svg");
}

.card-location-development.card-location-black {
    background-image: url("/starting_location/Development.svg");
}

.card-location-supply.card-location-black {
    background-image: url("/starting_location/Supply.svg");
}

.card-location-chaos.card-location-black {
    background-image: url("/starting_location/Chaos.svg");
}

.card-location-in-play.card-location-white {
    background-image: url("/starting_location/InPlayWhite.svg");
}

.card-location-nation.card-location-white {
    background-image: url("/starting_location/NationWhite.svg");
}

.card-location-accession.card-location-white {
    background-image: url("/starting_location/AccessionWhite.svg");
}

.card-location-development.card-location-white {
    background-image: url("/starting_location/DevelopmentWhite.svg");
}

.card-location-supply.card-location-white {
    background-image: url("/starting_location/SupplyWhite.svg");
}

.card-location-chaos.card-location-white {
    background-image: url("/starting_location/ChaosWhite.svg");
}
