.filterDiv,
.filterDiv::after,
.filterDiv::before,
.filterDiv *::after,
.filterDiv *::before,
.filterDiv *,
.filterDiv ::before,
.filterDiv ::after {
    box-sizing: content-box;
}

.card-content-wrapper {
    position: relative;
}

.filterDiv{
    position: relative;
    background: #bbbbbb;
    /*background: radial-gradient(*/
    /*        300px,*/
    /*        #999999,*/
    /*        #444444,*/
    /*        #888888,*/
    /*        #686868,*/
    /*        #777777,*/
    /*        #888888,*/
    /*        #666666*/
    /*);*/
    width: 250px;
    height: 350px;
    margin: 10px 15px 10px 0;
    border-top: 2px;
    border-left: 2px;
    border-bottom: 2px solid rgb(137, 137, 137);
    border-right: 2px solid rgb(137, 137, 137);
    border-radius: 15px;
}

.card-number {
    position: absolute;
    left: 40px;
    bottom: 10px;
    font-size: 10px;
    color: black;
}

.card-player-count-background {
    position: absolute;
    left: 35px;
    bottom: 20px;
    background-color: black;
    mask: url("../images/corner_icon/playerCount.svg");
    width: 11px;
    height: 11px;
    background-size: 11px 11px;
}

.card-player-count-text {
    position: absolute;
    left: 45px;
    bottom: 20px;
    font-size: 10px;
    color: black;
}

.card-expansion-TradeFriendly {
    position: absolute;
    left: 25px;
    bottom: 25px;
    background: url("../images/corner_icon/tradeFriendly.png");
    width: 10px;
    height: 10px;
    background-size: 10px 10px;
}

.card-expansion-Ruthless {
    position: absolute;
    left: 25px;
    bottom: 25px;
    background: url("../images/corner_icon/ruthless.png");
    width: 10px;
    height: 10px;
    background-size: 10px 10px;
}
