.filterDiv,
.filterDiv::after,
.filterDiv::before,
.filterDiv *::after,
.filterDiv *::before,
.filterDiv *,
.filterDiv ::before,
.filterDiv ::after {
    box-sizing: content-box;
}

.card-content-wrapper {
    position: relative;
}

.filterDiv{
    position: relative;
    background-color: #555555;
    width: 250px;
    height: 350px;
    margin: 10px;
    border-top: 2px;
    border-left: 2px;
    border-bottom: 2px solid rgb(137, 137, 137);
    border-right: 2px solid rgb(137, 137, 137);
    border-radius: 15px;
}

.filterDiv:not(.state-card):not(.power-card):not(.permanent-card){
    background-image: url("/images/card_illust_placeholder.png");
    /*background-image: linear-gradient(*/
    /*        to bottom right,*/
    /*        #805020,*/
    /*        #508020,*/
    /*        #208050,*/
    /*        #205080,*/
    /*        #502080,*/
    /*        #508020*/
    /*);*/
}

.filterDiv.card-reactive {
    transition: transform 0.15s;
}

.filterDiv.card-reactive:hover {
    transform: scale(1.1);
    z-index: 100;
}

.card-number {
    position: absolute;
    left: 40px;
    bottom: 10px;
    font-size: 10px;
    color: white;
}

.card-player-count-background-white {
    position: absolute;
    left: 35px;
    bottom: 20px;
    background-image: url("/corner_icon/playerCountWhite.svg");
    width: 11px;
    height: 11px;
    background-size: 11px 11px;
}

.card-player-count-text {
    position: absolute;
    left: 45px;
    bottom: 20px;
    font-size: 10px;
    color: white;
}
