.card-effect-text {
    position: absolute;
    font-size: 10px;
    line-height: 13px;
    bottom: 40px;
    left: 10px;
    right: 10px;
    top: auto;
    padding: 5px 0;
    background: #333333;
    color: white;
    text-align: center;
}

.card-development-cost {
    display: inline-block;
    bottom: 45px;
    top: auto;
    margin-top: 5px;
    padding: 2px;
    background: white;
    color: black;
}
