
.card-expansion-pinned-in-a-card {
    position: absolute;
    left: 25px;
    bottom: 25px;
}

.card-expansion-TradeFriendly {
    background-image: url("/corner_icon/tradeFriendly.png");
    width: 10px;
    height: 10px;
    background-size: 10px 10px;
}

.card-expansion-Ruthless {
    background-image: url("/corner_icon/ruthless.png");
    width: 10px;
    height: 10px;
    background-size: 10px 10px;
}
