.card-state-symbol {
    background-size: 35px 30px;
    width: 35px;
    height: 30px;
}

.card-state-symbol-as-undefined {
    background-image: url("../images/state_symbol/no_state.png");
}

.card-state-symbol-as-barbarian {
    background-image: url("../images/state_symbol/barbarian.png");
}

.card-state-symbol-as-empire {
    background-image: url("../images/state_symbol/empire.png");
}

.card-state-symbol-as-isle-bound {
    background-image: url("../images/state_symbol/isle_bound.png");
}

.card-state-symbol-as-voyaging {
    background-image: url("../images/state_symbol/voyaging.png");
}

.card-state-symbol-as-corrupted {
    background-image: url("../images/state_symbol/corrupted.png");
}

.card-state-symbol-as-summoned {
    background-image: url("../images/state_symbol/summoned.png");
}


.card-state-symbol-left {
    position: absolute;
    left: 0;
}

.card-state-symbol-right {
    position: absolute;
    right: 0;
    scale: -1 1;
}
