.card-victory-point-icon {
    --size: 25px;
    display: inline-block;
}

.card-victory-point-icon-bottom-right {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.card-victory-point-positive {
    width: var(--size);
    height: var(--size);
    font-size: calc(var(--size) * 0.8);
    line-height: var(--size);
    text-align: center;
    background-image: url("/vp_icon/victory_point.svg");
    background-size: var(--size) var(--size);
    color: black;
}

.card-victory-point-variable {
    width: var(--size);
    height: var(--size);
    font-size: calc(var(--size) * 0.8);
    line-height: var(--size);
    text-align: center;
    background-image: url("/vp_icon/victory_point_variable.svg");
    background-size: var(--size) var(--size);
    color: #00000000;
}

.card-victory-point-negative {
    width: var(--size);
    height: var(--size);
    font-size: calc(var(--size) * 0.8);
    line-height: var(--size);
    text-align: center;
    background-image: url("/vp_icon/victory_point_negative.svg");
    background-size: var(--size) var(--size);
    color: red;
}

.card-victory-point-text {
    position: absolute;
    font-size: 8px;
    line-height: 11px;
    bottom: 5px;
    right: 30px;
    top: auto;
    width: 60px;
    height: auto;

    background-color: #00000080;
    color: white;
    text-align: center;
}

.card-victory-point-text.card-victory-point-text-wider {
    width: 65px;
}
