.card-state-icon {
    background-size: 35px 30px;
    width: 35px;
    height: 30px;
}

.card-state-icon-as-undefined {
    background-image: url("/state_symbol/no_state.png");
}

.card-state-icon-as-barbarian {
    background-image: url("/state_symbol/barbarian.png");
}

.card-state-icon-as-empire {
    background-image: url("/state_symbol/empire.png");
}

.card-state-icon-as-isle-bound {
    background-image: url("/state_symbol/isle_bound.png");
}

.card-state-icon-as-voyaging {
    background-image: url("/state_symbol/voyaging.png");
}

.card-state-icon-as-corrupted {
    background-image: url("/state_symbol/corrupted.png");
}

.card-state-icon-as-summoned {
    background-image: url("/state_symbol/summoned.png");
}


.card-state-icon-left {
    position: absolute;
    left: 0;
}

.card-state-icon-right {
    position: absolute;
    right: 0;
    scale: -1 1;
}
