.card-state-symbol-row {
    position: relative;
    width: 100%;
    height: 30px;
    font-size: 10px;
    overflow: hidden;
    margin-top: 5px;
    justify-content: space-between;
    padding-top: 0;
    /*letter-spacing: 1px;*/
}
