.card-title {
    position: relative;
    width: 100%;
    line-height: 20px;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 15px;
    padding-top: 5px;
    letter-spacing: 1px;
}
.card-title.card-title-long {
    letter-spacing: 0;
}

.card-title-background-color {
    color: white;
    background: #808080;
}

.card-title-background-color.card-title-background-color-gadget {
    color: white;
    background: #f18fbb;
}

.card-title-background-color.card-title-background-color-trade-route {
    color: white;
    background: #954726;
}

.card-title-background-color.card-title-background-color-unrest {
    color: white;
    background: #c81617;
}

.card-title-background-color.card-title-background-color-tributary {
    color: white;
    background: #324e9d;
}

.card-title-background-color.card-title-background-color-region {
    color: white;
    background: #fbb90e;
}

.card-title-background-color.card-title-background-color-civilised {
    color: black;
    background: #cecdcc;
}

.card-title-background-color.card-title-background-color-uncivilised {
    color: white;
    background: #52b030;
}

.card-title-background-color.card-title-background-color-fame {
    color: white;
    background: #ac4b97;
}

.card-title-background-color.card-title-background-color-power {
    color: white;
    background: #020202;
}

.card-title-background-color.card-title-background-color-BARBARIAN,
.card-title-background-color.card-title-background-color-FREE-TRIBES,
.card-title-background-color.card-title-background-color-GONE-NATIVE {
    color: white;
    background: #b21e1c;
}

.card-title-background-color.card-title-background-color-EMPIRE,
.card-title-background-color.card-title-background-color-ALIEN {
    color: white;
    background: #5082b5;
}

.card-title-background-color.card-title-background-color-SUMMER {
    color: white;
    background: #d9cf89;
}

.card-title-background-color.card-title-background-color-WINTER {
    color: white;
    background: #91c6e8;
}

.card-title-background-color.card-title-background-color-ISLE-BOUND {
    color: white;
    background: #e6b12d;
}

.card-title-background-color.card-title-background-color-VOYAGING {
    color: white;
    background: #294a59;
}

.card-title-background-color.card-title-background-color-CORRUPTED {
    color: white;
    background: #973335;
}

.card-title-background-color.card-title-background-color-SUMMONED {
    color: white;
    background: #48354b;
}
