.imperium-cardporium-head {
    text-align: center;
}

.imperium-cardporium-announcement {
    text-align: center;
    text-indent: 2em;
}

.imperium-cardporium-large-suits {
    gap: 10px;
    display: inline-flex;
}
