.ImperiumCardporium {
    display: flex;
    height: 100dvh;
}

.ImperiumCardporium_sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background-color: #666;
    color: #fff;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 30px 10px 10px;
}

.ImperiumCardporium_content {
    margin-left: 320px;
    padding: 20px;
    width: 100%;
}
